@import "tailwindcss";


section {
  padding: 64px;
}

@media (min-width: 1024px) {
  section{
      padding-top: 8rem;
      /* padding-bottom: 10rem; */
  }
}

@media (max-width: 640px) {
  section {
    padding: 24px;
  }
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

